a.menu-icon {
  z-index: 10;
}

.nav-primary .list-group, .nav-primary .list-group-item {
  border-color: var(--bs-secondary);
  background-color: var(--bs-primary);
}
.nav-primary .list-group-item.active  {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  background-color: var(--bs-white);
}
.nav-primary .list-group-item:not(.active):hover  {
  color: var(--bs-white);
}

.nav-secondary .list-group, .nav-secondary .list-group-item {
  color: var(--bs-white);
  border-color: var(--bs-secondary);
  background-color: var(--bs-primary);
}
.nav-secondary .list-group-item.active  {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  background-color: var(--bs-white);
}
.nav-secondary .list-group-item:not(.active):hover  {
  color: var(--bs-secondary);
}