:root {
  --bs-white: #f7fffd;
  --bs-white-rgb: 247,255,253;
  --bs-primary: #4bbebe;
  --bs-primary-rgb: 75,190,190;
  --bs-secondary: #1b3536;
  --bs-secondary-rgb: 27,53,54;
  --bs-warning: #f45b69;
  --bs-warning-rgb: 244,91,105;
}

*, .text-reset {
  font-family: natom-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--bs-primary);
}

/*
Natom Pro Bold
  font-family: natom-pro, sans-serif;
  font-weight: 700;
  font-style: normal;

Natom Pro Bold italic
  font-family: natom-pro, sans-serif;
  font-weight: 700;
  font-style: italic;

Natom Pro Regular italic
  font-family: natom-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
*/

h1, h2, h3, h4, h5, h6, .fw-bold {
  font-family: natom-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.z-10 {
  z-index: 10;
}

.fb-title {
  font-family: natom-pro-title, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.f-title {
  font-family: natom-pro-title, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.white {
  color: var(--bs-secondary);
  background-color: var(--bs-white);
}
.text-white {
  color: var(--bs-white) !important;
}
.link-white {
  color: rgba(var(--bs-white-rgb), .75);
}
.link-white:hover {
  color: var(--bs-white);
}
.border-white {
  border-color: var(--bs-white) !important;
}
.border-hover-primary:hover {
  border-color: var(--bs-primary) !important;
}
.border-secondary {
  border-color: var(--bs-secondary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}
.link-primary, .link-primary:visited {
  --color: var(--bs-primary);
  --color-rgb: var(--bs-primary-rgb);
  color: rgba(var(--bs-primary-rgb), .5);
}
.link-primary:hover, .link-primary:active {
  color: var(--bs-primary) !important;
}
.primary, .btn-primary {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border: none;
}
.btn-primary:disabled {
  background-color: rgba(var(--bs-primary-rgb), .5);
}
.btn-primary:hover {
  color: var(--bs-secondary);
  background-color: var(--bs-primary);
}
.btn-primary:focus, .btn-primary:active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .25) !important;
}
.btn-primary.btn-primary-opacity {
  background-color: rgba(var(--bs-primary-rgb), .25);
}
.btn-primary.btn-primary-opacity:hover {
  background-color: var(--bs-primary);
}
.btn-primary.btn-primary-opacity:active {
  background-color: var(--bs-primary);
}
.btn-primary.btn-primary-opacity:focus {
  background-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .5) !important;
}


.text-secondary {
  color: var(--bs-secondary) !important;
}
.link-secondary, .link-secondary:visited {
  --color: var(--bs-secondary);
  --color-rgb: var(--bs-secondary-rgb);
  color: rgba(var(--bs-secondary-rgb), .5);
}
.link-secondary:hover, .link-secondary:active {
  color: var(--bs-secondary) !important;
}
.secondary, .btn-secondary {
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  border: none;
}
.btn-secondary:hover {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}
.btn-secondary:focus, .btn-secondary:active {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), .5) !important;
}
.btn-outline-secondary {
  color: var(--bs-secondary);
  background-color: var(--bs-white);
  border-color: var(--bs-secondary);
}
.btn-outline-secondary:hover {
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}
.btn-outline-secondary:focus, .btn-outline-secondary:active {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), .5) !important;
}

.btn-link:focus, .btn-secondary:active {
  color: var(--color);
  box-shadow: 0 0 0 0.25rem rgba(var(--color-rgb), .5) !important;
}

.secondary-inverse {
  color: var(--bs-secondary);
  background-color: var(--bs-white);
}

.list-group-item {
  border-color: rgba(var(--bs-primary-rgb), .25) !important;
  background-color: var(--bs-white);
}
.card, .card-head, .card-body, .form-control, .list-group {
  color: var(--bs-secondary);
  border-color: rgba(var(--bs-primary-rgb), .25) !important;
  background-color: var(--bs-white);
  border-radius: 0.25rem;
}
.form-control:focus {
  background-color: var(--bs-white);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .25) !important;
}
.form-control:focus.is-invalid {
  border-color: var(--bs-warning);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-warning-rgb), .25) !important;
}
.form-check-input {
  background-color: var(--bs-white);
  border-color: rgba(var(--bs-primary-rgb), .5) !important;
}
.form-check-input:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .25) !important;
}
.form-check-input:checked {
  background-color: var(--bs-primary) !important;
}


.text-warning {
  color: var(--bs-warning) !important;
}
.warning, .btn-warning {
  color: var(--bs-white);
  background-color: var(--bs-warning);
  border: none;
}

/*
--fiery-rose: #f45b69;
--plump-purple: #52489c;
--true-blue: #4062bb;
--maximum-blue-green: #59c3c3;
--platinum: #ebebeb;
*/
